/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2017, 9:07:28 PM
    Author     : mattpeternell
*/

.error404 {
    .col-fullbleed.white {
        background-color: #fff;
    }
    .page-header {
        background-color:$ocean;
        height: rem(460px);
        .page-title {
            font-size: rem(40px);
            position: absolute;
            top: 230px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 980px;
            width: 100%;
            color: #fff;
            line-height: 1;
            margin: 0;
        }
    }
    .error-section {
        padding: 10em 6em;
    }
}