/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2017, 11:57:07 AM
    Author     : mattpeternell
*/
.post-type-archive-board_members {
    .page-header {
        background-color:$ocean;
        height: rem(460px);
        .page-title {
            font-size: rem(40px);
            position: absolute;
            top: 230px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 980px;
            width: 100%;
            color: #fff;
            line-height: 1;
            margin: 0;
        }
    }
    .board-list {
        padding-top: rem(100px);
        padding-bottom: rem(160px);
        .wp-post-image {
            width: 100%;
            max-width: 200px;
            border-radius: 100%;
            border: 6px solid $smoke;
            display: inline;
            vertical-align: bottom;
        }
        .entry-title {
            margin: 0;
        }
        .board-member-job-title {
            font-size: 22px;
            line-height: 32px;
            margin-top: rem(10px);
            margin-bottom: rem(26px);
        }
    }
    .board_members {
        overflow: auto;
        margin-bottom: 80px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.board-list {
    .type-team_members {
        overflow: auto;
    }
    .arch-col-2 {
        @include span-columns(2);
        @media (max-width: $small-screen) {
            @include span-columns(12);
            @include omega();
            margin-bottom: 2rem;
        }
    }
    .arch-col-10 {
        @include span-columns(10);
        @media (max-width: $small-screen) {
            @include span-columns(12);
            @include omega();
        }
    }

}

.search-no-results .board-list {
    min-height: 100vh;
    padding-top: 80px;
    .form-group {
        float: left;
        width: 50%;
    }
    .btn {
        margin-left: 1em;
    }
}

.search {
    .col-fullbleed.white {
        background-color: #fff;
    }
    .page-header {
        background-color:$ocean;
        height: rem(460px);
        .page-title {
            font-size: rem(40px);
            position: absolute;
            top: 230px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 980px;
            width: 100%;
            color: #fff;
            line-height: 1;
            margin: 0;
        }
    }
    .search-list {
        .blog-column-4 {
            margin-bottom: rem(60px);
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        &.top {
            padding-top: rem(100px);
            padding-bottom: 0;
        }
        &.bot {
            padding-top: rem(100px);
            padding-bottom: rem(160px);
        }
        .tile-inner {
            height: 285px;
            border-bottom: 4px solid $ocean;
        }
        .wp-post-image {
            width: 100%;
            max-width: 200px;
            border-radius: 100%;
            border: 6px solid $smoke;
            display: inline;
            vertical-align: bottom;
        }
        .entry-title {
            margin: 0;
            font-size: 1.5rem;
            line-height: 2.25rem;
            a {
                color: $concrete;
            }
        }
        .board-member-job-title {
            font-size: 22px;
            line-height: 32px;
            margin-top: rem(10px);
            margin-bottom: rem(26px);
        }
    }
    .board_members {
        overflow: auto;
        margin-bottom: 80px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}


.archive {
    .col-fullbleed.white {
        background-color: #fff;
    }
    .page-header {
        &.honey {
            background-color: $honey;
            position: relative;
            background-image: url("/wp-content/themes/panorama-theme/assets/images/POV-Hero-Productivity-Transparent@2x.png");
            background-size: cover;
            .page-title {
                top: 325px;
                &:before {
                    content: '';
                    background-image: url("/wp-content/themes/panorama-theme/assets/images/productivity-icon-100x.png");
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 101px;
                    height: 101px;
                    position: absolute;
                    top: -120px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        &.forest {
            background-color: $forest;
            position: relative;
            background-image: url("/wp-content/themes/panorama-theme/assets/images/POV-Hero-Planet-Transparent@2x.png");
            background-size: cover;
            .page-title {
                top: 325px;
                &:before {
                    content: '';
                    background-image: url("/wp-content/themes/panorama-theme/assets/images/planet-icon-100x.png");
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 101px;
                    height: 101px;
                    position: absolute;
                    top: -120px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        &.plum {
            background-color: $plum;
            position: relative;
            background-image: url("/wp-content/themes/panorama-theme/assets/images/POV-Hero-People-Transparent@2x.png");
            background-size: cover;
            .page-title {
                top: 325px;
                &:before {
                    content: '';
                    background-image: url("/wp-content/themes/panorama-theme/assets/images/people-icon-100x.png");
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 101px;
                    height: 101px;
                    position: absolute;
                    top: -120px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        &.ocean {
            background-color: $ocean;
            position: relative;
            background-image: url("/wp-content/themes/panorama-theme/assets/images/POV-Hero-Topic-Transparent@2x.png");
            background-size: cover;
            .page-title {
                top: 325px;
                &:before {
                    content: '';
                    background-image: url("/wp-content/themes/panorama-theme/assets/images/topic-icon-100x.png");
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 101px;
                    height: 101px;
                    position: absolute;
                    top: -120px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        background-color:$ocean;
        height: rem(460px);
        .page-title {
            font-size: rem(40px);
            position: absolute;
            top: 230px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 980px;
            width: 100%;
            color: #fff;
            line-height: 1;
            margin: 0;
            text-transform: capitalize;
        }
    }
    .board-list {
        padding-top: rem(100px);
        padding-bottom: rem(160px);
        .wp-post-image {
            width: 100%;
            max-width: 200px;
            border-radius: 100%;
            border: 6px solid $smoke;
            display: inline;
            vertical-align: bottom;
        }
        .entry-title {
            margin: 0;
        }
        .board-member-job-title {
            font-size: 22px;
            line-height: 32px;
            margin-top: rem(10px);
            margin-bottom: rem(26px);
        }
    }
    .board_members {
        overflow: auto;
        margin-bottom: 80px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.archive {
    .blog-column-4.blog-tile {
        &.people {
            .tile-inner {
                border-bottom: 4px solid  $eggplant;
            }
        }
        &.planet {
            .tile-inner {
                border-bottom: 4px solid  $forest;
            }
        }
        &.productivity {
            .tile-inner {
                border-bottom: 4px solid  $honey;
            }
        } 
    }
    .blog-column-4.blog-tile.pov-tags {
        .tile-inner {
            border-bottom: 4px solid $ocean;
        }
    }
}