form.search-bar {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-spacing: 1.5em !default;
    $base-border-color: gainsboro !default;
    $base-line-height: 1.5em !default;
    //////////////////////////////////////////////////////////////////////////////////

    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    position: relative;
    float: right;
    max-width: 350px;
    @media (max-width: $small-screen) {
        max-width: 100%;
    }
    width: 100%;

    input[type=search] {
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        border: 1px solid $aluminium;
        box-sizing: border-box;
        display: block;
        border-radius: 0 !important;
        font-size: 1em;
        //font-style: italic;
        margin: 0;
        padding: ($base-spacing / 3) ($base-spacing / 3);
        position: relative;
        transition: border-color;
        width: 100%;
        height: 46px;
    }

    button[type=submit] {
        @include position(absolute, 0 0 0 null);
        outline: none;
        padding: 5px 10px;
        border-radius: 0;
        border: 1px solid $aluminium;
        border-left: transparent;
        img {
            height: 12px;
            opacity: 0.7;
        }
        .fa {
            color: $aluminium;
            font-size: 1.5rem;
        }
    }
}
