.blog {
    h1.page-title {
        margin-bottom: $global-section-padding;
    }
    .post-list {
        .post {
            margin-bottom: $global-section-padding;
            overflow: auto;
            .entry-meta {
                margin-top: $global-section-padding/2;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
