.contact-cta {
    @media (min-width:  $medium-screen + 0.05) {
        @include padding($global-section-padding * 1.6 null $global-section-padding * 2 null);
    }
    @media (max-width:  $medium-screen) {
        @include padding($global-section-padding * 1.2 null $global-section-padding * 1.2 null);
    }
    @media (max-width:  $medium-screen) {
        @include padding($global-section-padding * 1.2 1rem $global-section-padding * 1.2 1rem);
    }
    @media (max-width:  $xs-small-screen) {
        @include padding($global-section-padding * 1.2 4rem $global-section-padding * 1.2 4rem);
    }
    h2.section-header {
        color: $concrete;
        @media (max-width: $xs-small-screen) {
            font-size: em(24px);
            line-height: 32px;
        }
    }
}