/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 5, 2017, 1:25:07 PM
    Author     : mattpeternell
*/
.board-link {
    color: $white;
    &:hover {
        color: $honey;
    }
}
.about-board-members {
    background-color: $white;
    padding-bottom: 3.75rem;
    .section-title h2 {
        color: $white;
        font-size: rem(44px);
        margin: rem(100px) auto rem(100px);
        line-height: 50px;
    }
    .team-content {
        text-align: center;
    }

    .board-img {
        text-align: center;
        margin: 0 auto em(20px);
        img {
            width: 100%;
            max-width: 200px;
            display: inline;
            vertical-align: bottom;
        }
    }

    .board-name {
        color: $white;
        font-size: em(28px);
        font-family: $heading-font-family;
        line-height: 48px;
        text-align: left;
        margin: 0 auto 0.25rem;
    }

    .board-title {
        color: $white;
        font-size: rem(22px);
        line-height: rem(28px);
        text-align: left;
    }

    .board-web {
        margin: 0 auto rem(30px);
        a {
            color: $white;
            font-size: rem(22px);
            line-height: rem(28px);
        }
    }
    .board-entry {

        margin: 0 auto rem(16px);
        text-align: left;
        p {
            font-size: em(22px);
            line-height: 32px;
            color: $white;
        }
    }

    .link-wrapper {
        clear: both;
        overflow: auto;
        .post-edit-link {
            float: left;
        }
    }
}
.board-row {
    margin-bottom: rem(60px);
    overflow: auto;
    &:last-child {
        margin-bottom: 0;
    }
    .board-img {
        @include span-columns(2);
        @media (max-width: $small-screen) {
            @include span-columns(12);
            @include omega();
        }
    }
    .board-content {
        @include span-columns(10);
        @media (max-width: $small-screen) {
            @include span-columns(12);
            @include omega();
        }
    }
}
