.home {
    .case-studies {
        background-color: #fff;
        @media (min-width:  $medium-screen + 0.05) {
            @include padding($global-section-padding * 2 null $global-section-padding * 2.4 null);
        }
        @media (max-width:  $medium-screen) {
            @include padding($global-section-padding * 1.2 null $global-section-padding * 2 null);
        }
        .featured-icon {
            @media (min-width:  $medium-screen + 0.05) {
                margin-bottom: $global-section-padding;
            }
            @media (max-width:  $medium-screen) {
                margin-bottom: $global-section-padding * 0.8;
            }
            > img {
                vertical-align: middle;
                max-width: 120px;
                text-align: center;
                margin: 0px auto;
                @media (max-width: $xs-small-screen) {
                    width: 100px;
                    line-height: 100px;
                }
            }
        }
        .content-box-heading {
            color: $concrete;
            font-size: em(32px);
            margin-bottom: rem(20px);
        }
        .content-container {
            p {
                font-size: em(22px);
                line-height: rem(32px);
                margin: 0 auto;
                max-width: 285px;
            }

        }
        a.cs-link {
            font-size: em(22px);
            line-height: rem(52px);
            @media (max-width: $xs-small-screen) {
                font-size: em(18px);
                line-height: rem(26px);
            }
        }
        .column-4 {
            margin-bottom: 0;
            @media (max-width:  $medium-screen) {
                margin-bottom: rem(60px);
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}