/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 3, 2017, 3:12:33 PM
    Author     : mattpeternell
*/
.about-quote {
    background-color: $seafoam;
    .entry-content {
        margin: em(100px) 0;
        p {
            color: $white;
            font-family: $heading-font-family;
            font-weight: 400;
            font-size: em(32px) !important;
            line-height: 48px;
        }        
    }
}