/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 5, 2017, 1:25:07 PM
    Author     : mattpeternell
*/
.about-team-members.advis {
    padding-top: 0;
    .section-title h2 {
        margin-top: rem(40px);
    }
}

.about-team-members.boardmem {
    background-color: $ocean;
    //padding-top: 0;
    .section-title h2 {
        margin-top: 0;
        color: $white;
    }
    .member-name {
        color: $white;
    }
    .member-short-bio p {
        color: $white;
    }
}


.about-team-members {
    background-color: $white;
    padding-top: rem(100px);
    padding-bottom: rem(40px);
    .section-title h2 {
        color:$concrete;
        font-size: rem(44px);
        margin: rem(160px) auto rem(100px);
    }
    .team-content {
        text-align: center;
    }

    .team-image-ceo {
        text-align: center;
        margin: 0 auto em(60px);
        a { 
            display: block;
        }
        img {
            width: 100%;
            max-width: 300px;
            border-radius: 100%;
            border: 6px solid $smoke;
            display: inline;
            vertical-align: bottom;
        }
    }

    .team-image {
        text-align: center;
        margin: 0 auto em(40px);
        a { 
            display: block;
        }
        img {
            width: 100%;
            max-width: 200px;
            border-radius: 100%;
            border: 6px solid $smoke;
            display: inline;
            vertical-align: bottom;
        }
    }
    .member-name-ceo {
        color: $concrete;
        font-size: em(36px);
        font-family: $heading-font-family;
        font-weight: 400;
        line-height: 50px;
        text-align: center;
        margin: 0 auto rem(15px);
    }

    .member-name {
        color: $concrete;
        font-size: em(28px);
        font-family: $heading-font-family;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        margin: 0 auto 1.875rem;
    }

    .member-title-ceo {
        color: $aluminium;
        font-size: rem(24px);
        line-height: rem(28px);
        text-align: center;
        margin: 0 auto rem(40px);
    }
    .member-title {
        color: $aluminium;
        font-size: rem(22px);
        line-height: rem(28px);
        text-align: center;
    }

    .member-short-bio {
        margin: 0 auto rem(16px);
        text-align: center;
        p {
            font-size: em(22px);
            line-height: 32px;
            color: $aluminium;
            margin: 0;
        }
    }

    .link-wrapper {
        overflow: auto;
        text-align: center;
        .post-edit-link {
            margin-left: 1rem;
        }
    }
}
.team-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @media (min-width: $small-screen + 0.25) {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    @media (max-width: $small-screen) {

    }
    @media (max-width: $xs-small-screen) {

    }
    .team-tile-ceo {
        display: inline-block;
        @media (min-width: $small-screen + 0.25) {
            flex: 0 0 70%;
            padding: 0 1rem;
        }
        @media (min-width: $xs-small-screen) and (max-width: $small-screen) {
            flex: 0 0 70%;
            padding: 0 1rem;
        }
        @media (max-width: $xs-small-screen) {
            flex: 0 0 100%;
            padding: 0 0;
        }
        //background: pink;
    }
    .team-tile {
        display: inline-block;
        @media (min-width: $small-screen + 0.25) {
            flex: 0 0 33.333%;
            padding: 0 1rem rem(60px);
        }
        @media (min-width: $xs-small-screen) and (max-width: $small-screen) {
            flex: 0 0 50%;
            padding: 0 1rem rem(60px);
        }
        @media (max-width: $xs-small-screen) {
            flex: 0 0 100%;
            padding: 0 0 rem(60px);
        }
        //background: pink;
    }
    .team-tile-brd {
        display: inline-block;
        @media (min-width: $small-screen + 0.25) {
            flex: 0 0 50%;
            padding: 0 1rem rem(60px);
        }
        @media (min-width: $xs-small-screen) and (max-width: $small-screen) {
            flex: 0 0 50%;
            padding: 0 1rem rem(60px);
        }
        @media (max-width: $xs-small-screen) {
            flex: 0 0 100%;
            padding: 0 0 rem(60px);
        }
        //background: pink;
    }
    .tile-inner {
        //background: #ccc;
    }
}
