.partners {
    padding-top: rem(80px);
    padding-bottom: rem(64px);
    .section-header {
        color: $white;
        margin-bottom: $global-section-padding/1.25;
    }
}

.partners {
    .icon-list {
        margin: 0;
        padding: 0;
        > li {
            list-style: none;
            text-align: center;
            display: inline-block;
            @media (min-width: ($small-screen + 0.05)) {
               margin: 0 0.25rem 1rem;
            }
            @media (max-width: $small-screen) {
                margin: 0 0.25rem 1rem;
            }

        } 
        a {
            display: block;
        }
        a:hover {
            opacity: 0.5;
            transition: opacity $base-duration $base-timing;
        }
        img {
            vertical-align: middle;
            max-width: 110px;
            width: 100%;
            height: auto;
        }
    }
}
