.single-job_postings {
    .single-job-post {
        margin-bottom: em(160px);
        margin-top: em(100px);
    }
    .site-content {
        background-color: $white;
    }
    .single-hero {
        position: relative;
        height: rem(300px);
        background-color: $aluminium; 
        .single-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
        }
    }
}

.single-team_members, .single-board_members {
    .single-team-post {
        margin-bottom: em(160px);
        margin-top: em(175px);
    }
    .site-content {
        background-color: $white;
    }
    .team_category-advisor, .type-board_members {
        .single-hero {
            background-color: $aluminium; 
        }
    }
    .team_category-ceo {
        .single-hero {
            background-color: $seafoam;  
        }
    }
    .team_category-team {
        .single-hero {
            background-color: $seafoam;  
        }
    }
    .single-hero {
        position: relative;
        height: rem(460px);
        .single-caption {
            position: absolute;
            top: 230px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 80%;
            width: 100%;
        }
        .single-title, .single-subtitle {
            color: $white;
            text-align: center;
        }
        .single-title {
            font-size:rem(32px);
            font-weight: 300;
            line-height: rem(32px);
        }
        .single-subtitle {
            font-size:rem(24px);
            margin-bottom: 2rem;
        }
        .single-team-img {
            text-align: center;
            img {
                width: 100%;
                max-width: 200px;
                border-radius: 100%;
                border: 6px solid $smoke;
                display: inline;
                vertical-align: bottom;

            }
        }
    }
}

.single-team-nav {
    margin-bottom: em(30px);
}

.single-point_of_view {
    .single-pov-post {
        margin-bottom: em(160px);
        margin-top: 0;
    }
    .site-content {
        background-color: $white;
    }

    .single-hero {
        position: relative;
        height: rem(460px);
        @media (max-width: 480px){
            height:auto;
        }
        background-color: $ocean;
        .single-caption {
            position: absolute;
            top: 195px;
            @media (max-width: 47.994em) {
                top: 90px;
            }
            left: 50%;
            transform: translateX(-50%);
            max-width: 68%;
            @media (max-width: 480px){
                max-width: 100%;
                position: relative;
                top: initial;
                transform: initial;
                left: initial;
                padding: 6em 1.5em 0;
                overflow: auto;
            }
            width: 100%;
        }
        .single-title, .single-subtitle {
            color: $white;
            text-align: center;
        }
        .single-title {
            font-size: 30px;
            font-weight: 300;
            line-height: 42px;
            @media (max-width: 480px){
                font-size: 26px;
                font-weight: 300;
                line-height: 38px;
            }

        }
        .single-subtitle {
            font-size:rem(16px);
            margin-bottom: 2rem;
            margin-top: 1rem;
            .author {
                display: block;
                line-height: 22px;
            }
        }
        .pov-date {
            margin-left: 1rem;
        }
    }
    .featured-img {
        margin-bottom: em(80px);
    }
}