.page {
    &.eggplant {
        .entry-content {
            h1, h2, h3, h4, h5, h6 {
                color: $eggplant;
            }
        }
    }
}

.page {
    &.forest {
        .entry-content {
            h1, h2, h3, h4, h5, h6 {
                color: $forest;
            }
        }
    }
}

.page {
    &.honey {
        .entry-content {
            h1, h2, h3, h4, h5, h6 {
                color: $honey;
            }
        }
    }
}

.page {
    .entry-content.white {
        h1, h2, h3, h4, h5, h6 {
            color: $white;
        }
        .post-edit-link {
            color: $white;
        }
    }
}

.page {
    .entry-content.white {
        h1, h2, h3, h4, h5, h6 {
            color: $white;
        }
        .post-edit-link {
            color: $eggplant;
        }
    }
}

.entry-content {

    > h2 {
        margin-bottom: 0;
    }
    > p:last-child {
        margin-bottom: 0;
    }
    ul, ol {
        list-style-type: initial;
        margin: 0 0 1em;
        padding: inherit;
        padding-left: 2em;
    }
    ol {
        list-style-type: number;
        margin: initial;
        padding: inherit;
        padding-left: 2em;
        margin: 0 0 1em;
    }
}

.home .intro-section h2 {
    margin-bottom: 40px;
}

.mail-section, .office-section, .phone-section {
    .title {
        color: #ffffff; 
        font-size: 18px; 
        margin-bottom: 10px; 
        letter-spacing: 2px;
    }
    address {
    }
}

.phone-section {
    .email-phone {
        color: #fff;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-bottom: 1.5rem;
        font-style: normal;
    }
}


.alignleft {
    float: left;
    margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
    float: right;
    margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}

blockquote {
    &.alignleft {
        margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
    }
    &.aligncenter {
        margin-bottom: 1.473684211em;
    }
    &.alignright {
        margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
    }
    p, footer {
        color: #777;
        font-weight: 500;
    }
}

/**
 * 12.1 - Captions
 */

.wp-caption {
    //margin-bottom: 1.75em;
    max-width: 100%;
    width: 100% !important
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
}

.wp-caption .wp-caption-text {
    color: $aluminium;
    font-size: 1em;
    font-size: 0.875em;
    font-style: italic;
    line-height: 1.6153846154;
    padding-top: 0.5384615385em;
    text-align: center;
}

.wp-caption-text {
    @include caption-txt();
}
