fieldset {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
    padding: 0;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
    display: block;
    font-family: $base-font-family;
    font-size: rem(16px);
    background-color: $secondary-background-color;
    color: $form-user-text-color;
}

#{$all-text-inputs},
select[multiple] {
    background-color: $secondary-background-color;
    border: $base-border;
    border-radius: 0; //$base-border-radius;
    box-shadow: $form-box-shadow;
    box-sizing: border-box;
    //margin-bottom: $small-spacing;
    padding: $base-spacing / 3;
    transition: border-color $base-duration $base-timing;
    width: 100%;

    &:hover {
        border-color: shade($base-border-color, 20%);
    }

    &:focus {
        border-color: $action-color;
        box-shadow: $form-box-shadow-focus;
        outline: none;
    }

    &:disabled {
        background-color: shade($base-background-color, 5%);
        cursor: not-allowed;

        &:hover {
            border: $base-border;
        }
    }
}

textarea {
    resize: vertical;
}

[type="search"] {
    appearance: none;
}

[type="checkbox"],
[type="radio"] {
    display: inline;
    margin-right: $small-spacing / 2;
}

[type="file"] {
    margin-bottom: $small-spacing;
    width: 100%;
}

select {
    margin-bottom: $small-spacing;
    max-width: 100%;
    width: auto;
}

.form-group {
    margin-bottom: 1em;
    overflow: auto;
}

::-webkit-input-placeholder {
    color: $form-placeholder-font-color;
    font-weight: 300;
    font-family: $base-font-family;
}
:-moz-placeholder { /* Firefox 18- */
    color: $form-placeholder-font-color;
    font-weight: 300;
    font-family: $base-font-family;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $form-placeholder-font-color;
    font-weight: 300;
    font-family: $base-font-family;
}

:-ms-input-placeholder {  
    color: $form-placeholder-font-color;
    font-weight: 400;  
    font-family: $base-font-family;
}

/**** WP Plugin wpcf7-form-control g-recaptcha ***/
.entry-content {
    .wpcf7 {
        margin: 0 auto;
        max-width: 480px;
        width: 100%;
        p {
            margin-bottom: 0;
        }
    }
}
span.wpcf7-not-valid-tip {
    color: yellow;
    font-size: 0.85rem;
    display: block;
}
.wpcf7-form-control {
    &.wpcf7-submit {
        display: block;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid $aluminium;
        max-width: 160px;
        width: 100%;
        &:hover,&:active, &:focus {
            background-color: $seafoam;
            color: $white;
            transition: background-color $base-duration $base-timing;
        }
    }
    &.wpcf7-text.wpcf7-validates-as-required {
        margin-bottom:rem(20px);
    }
    &.wpcf7-not-valid {
        margin: 0;
    }
}

.wpcf7-form-control-wrap {
    display: block;
    &.your-message {
        margin-bottom: 1.5rem;
    }
}

div#rpRecaptcha {
    margin-bottom: 1em;
    > div {
        margin: 0px auto;
        width: 100%;
    }
}

/**** wpcf7-form-control ***/
