    html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
/*** Layout grid offset Styling **/

.offset-1 {
    @include shift(1);
}

.offset-2 {
    @include shift(2);
}

/*** Layout Styling **/
.hfeed.site {
    background-color: #565759;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 100;
    //margin-top: -166px;
    @include outer-container($outer-max-width);
}
.site-main {
    @media (min-width: $xlarge-screen + 0.25) {
        -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.25);
        @include outer-container($inner-max-width-xxl);
    }
}
.col-fullbleed {
    @include outer-container($outer-max-width);
}

.page-template-default {
    .hfeed.site {
        padding-top: $global-section-padding*2.50;
    }
}
.wysiwyg-row {
    @include outer-container(100%);
    .column-8 {

    }

}

.nested-coll-full {
    @include outer-container(100%);
}

.col-full {
    @media (min-width: $medium-screen+ 0.05) {
        @include outer-container($inner-max-width-xxl);
    }
    @media (min-width: $small-screen + 0.05) and (max-width: $xlarge-screen) {
        @include outer-container(100%);
    }
    @media (max-width:  $small-screen) {
        @include outer-container(100%);
    }
}

.column-2a {
    @media (min-width: $medium-screen + 0.05) {
        @include span-columns(2);
        &:nth-child(3n) {
            @include omega();
        }
    }
    margin-bottom: 3.55em;
    @media (min-width: $small-screen + 0.05) and (max-width: $medium-screen) {
        @include span-columns(3);

        &:nth-child(4n+4) {
            @include omega();
        }
        //margin-bottom: 2em;
    }
    @media (min-width: 481px) and (max-width: $small-screen) {
        @include span-columns(4);
        &:nth-child(3n) {
            @include omega();
        }
        &:nth-last-child(-n+3) {
            //margin-bottom: 0;
        }

    }
    @media (max-width: 480px) {
        @include span-columns(6);
        &:nth-child(2n) {
            @include omega();
        }
        //margin-bottom: 2em;
    }
}

.column-2 {
    @include span-columns(6);
    @media (max-width: $small-screen) {
        @include span-columns(12);
        @include omega();
    }
}

.column-3 {
    @include span-columns(3);
    @media (max-width: $small-screen) {
        @include span-columns(12);
        @include omega();
    }
}

.column-4 {
    @include span-columns(4);
    @media (min-width: $medium-screen) {

    }
    @media (max-width: $medium-screen) {
        @include span-columns(12);
        @include omega();
    }
}
.perspective-section {
    .blog-column-4 {
        @media (max-width: $medium-screen) {
            @include span-columns(6);
            &:nth-child(2n) {
                //margin-top: 3.125em;
                @include omega();
            }
            margin-bottom: rem(80px);
            &:last-child {
                margin-bottom: 0;
                @include shift(3);
            }
        }
        @media (max-width: $small-screen) {
            @include span-columns(12);
            @include omega();
            &:nth-child(2n) {
                //margin-top: 3.125em;
                //@include omega();
            }
            margin-bottom: rem(80px);
            &:last-child {
                margin-bottom: 0;
                @include shift(0);
            }
        }
    }

}
.blog-column-4 {
    @include span-columns(4);
    @media (max-width: $medium-screen) {
        @include span-columns(12);
        @include omega();
        margin-bottom: rem(80px);
        &:last-child {
            margin-bottom: 0
        }
    }
}


.blog-column-4a {
    float: left;
    display: block;
    margin-right: 4.10000%;
    width: 30.60%;
    &:last-child {
        margin-right: 0;
    }
    @media (max-width: $medium-screen) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5rem;
        &:last-child {
            margin-bottom: 0
        }
    }
    @media (max-width: $xs-small-screen) {
        width: 100%;
        margin-right: 0;
        margin-bottom:  3.75rem;
        &:last-child {
            margin-bottom: 0
        }
    }
}

.blog-column-4aa {
    float: left;
    display: block;
    margin-right: 4.10000%;
    width: 30.60%;
    &:last-child {
        margin-right: 0;
    }
    @media (min-width: $large-screen + 0.05) {
        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    @media (min-width: $medium-screen + 0.05) and (max-width: $large-screen) {
        width: 47.5%;
        margin-right: 4.10000%;
        margin-bottom: 5rem;
        &:last-child {
            margin-bottom: 0
        }
        &:nth-child(2n) {
            margin-right: 0
        }
    }
    @media (max-width: $medium-screen) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5rem;
        &:last-child {
            margin-bottom: 0
        }
    }
    @media (max-width: $xs-small-screen) {
        width: 100%;
        margin-right: 0;
        margin-bottom:  3.75rem;
        &:last-child {
            margin-bottom: 0
        }
    }
}


.blog-column-5 {
    @include span-columns(5);
    @media (max-width: $medium-screen) {
        @include span-columns(12);
        @include omega();
        margin-bottom: rem(80px);
        &:last-child {
            margin-bottom: 0
        }
    }
}


.blog-column-6 {
    @include span-columns(6);
    @media (max-width: $small-screen) {
        @include span-columns(12);
        @include omega();
        margin-bottom: 2em;
    }
}
.blog-column-10 {
    @include span-columns(10);
    @include omega(2n);
    margin-bottom: 2em;
    @media (max-width: $small-screen) {
        @include span-columns(10);
        @include omega();
    }
}
.blog-column-12 {
    @include span-columns(12);
    @include omega(2n);
    margin-bottom: 2em;
    @media (max-width: $small-screen) {
        @include span-columns(12);
        @include omega();
    }
}
.column-6 {
    @include span-columns(6);
}

.wysiwyg-row {
    .column-4 {    
        @media (max-width: $medium-screen) {
            padding-bottom: em(60px);
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .column-5 {
        @include span-columns(5);
        @media (max-width: $medium-screen) {

            @include span-columns(12);
            @include omega();
            padding-bottom: em(60px);
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .column-6 {
        @include span-columns(6);
        @media (max-width: $medium-screen) {
            @include span-columns(12);
            @include omega();
            padding-bottom: em(60px);
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .column-7 {
        @include span-columns(7);
        @media (max-width: $medium-screen) {

            @include span-columns(12);
            @include omega();
            //padding-bottom: em(60px);
            &:last-child {
                padding-bottom: 0;
            }
        }

    }
}

.column-5 {
    @include span-columns(5);
    @media (max-width: $medium-screen) {
        @include span-columns(12);
        margin-bottom: 3.75rem;
    }
}

.column-7 {
    @include span-columns(7);
    @media (max-width: $medium-screen) {
        @include span-columns(12);
        margin-bottom: 3.75rem;
    }
}

.column-8 {
    @include span-columns(8);
    @media (max-width: $medium-screen) {
        @include span-columns(12);
        margin-bottom: 3.75rem;
        @include omega();
    }
}

.column-9 {
    @include span-columns(9);
    @media (max-width: $small-screen) {
        @include span-columns(12);
    }
}

.column-10 {
    @include span-columns(10);
    @media (max-width: $small-screen) {
        @include span-columns(10);
    }
}

.column-12 {
    @include span-columns(12);
    @include omega();
}

.single {
    .column-8 {
        @include span-columns(8);
        @media (min-width: $small-screen + 0.05) and (max-width: $medium-screen) {
            @include span-columns(8);
            @include omega();
        }
        @media (min-width: $xs-small-screen + 0.05) and (max-width: $small-screen) {
            @include span-columns(8);
            @include omega();
        }
        @media (max-width: $xs-small-screen + 0.05) {
            @include span-columns(10);
            @include shift(1);
            @include omega();
            @include pad(0);
        }
    }
}

.paging-navigation {
    @include span-columns(12);
    @include omega();
}

.post-navigation {
    display: table;
    overflow: auto;
    @include padding(rem(80px) null rem(30px) null);
    text-align: left;
    width: 100%;
    text-transform: uppercase;

}

.nav-previous {
    display: inline-block;
    text-align: right;
    text-align: right;
    a {
        display: block;
    }
}
.nav-next {
    display: inline-block;
    text-align: right;
    position: relative;
    margin-left: 1rem;
    position: relative;
    a {
        display: block;
    }
    &:before {
        content: '|';
        position: absolute;
        top: -1px;
        left: -12px;
    }
}