body {
    color: $body-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
}

h1 {
    font-family: $heading-font-family;
    font-size: em(46px);
    font-weight: 500;
    line-height: em(42px);
    margin:  0.1212em 0 0.2727em;
    @media (max-width: $xs-small-screen) {
        font-size: em(40px);
        line-height: rem(52px);
    }
}

h2 {
    font-family: $heading-font-family;
    font-size: em(32px);
    font-weight: 400;
    line-height: rem(48px);
    margin: 0.037em 0 0.3333em;
    @media (max-width: $xs-small-screen) {
        font-size: em(28px);
        line-height: rem(40px);
    }
}

h3 {
    font-family: $heading-font-family;
    font-size: em(28px);
    font-weight: 400;
    line-height: rem(42px);
    margin: 0 0 2rem;    
}

h4 {
    font-family: $heading-font-family;
    font-size: em(16px);
    font-weight: 500;
    line-height: $heading-line-height;
    margin:1em 0 0.6667em; ;
}

h5 {
    font-family: $heading-font-family;
    font-size: em(12px);
    font-weight: 500;
    line-height: $heading-line-height;
    margin:0 0 0.5625em;
}

h6 {
    font-family: $heading-font-family;
    font-size: em(10px);
    font-weight: 500;
    line-height: $heading-line-height;
    margin:0 0 0.6428em; ;
}

p {
    font-size: em(22px);
    line-height: rem(36px);
    margin: 0 0 $small-spacing;
}

a {
    color: $sky;
    text-decoration: none;
    transition: color $base-duration $base-timing;
    &:active,
        &:focus,
        &:hover {
        color: $honey;
        text-decoration: none;
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}


// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

h2.section-header {
    text-align: center;
    margin: 0 auto rem(40px);
    font-weight: 400;
    font-family: $heading-font-family;
    font-size: em(32px);
}
h2.section-subheader {
    font-weight: 300;
    max-width: 860px;
    margin: 0px auto 3.750rem;
    line-height: 1.35;
}