@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800');
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,500italic,700,700italic);
$nav-cubic-bezier: cubic-bezier(0.0, 0.0, 0.50, 0.25);

//Panaorama Theme Colors
$sky:                   #05A1E5;
$seafoam:               #008480;
$forest:                #468c46;
$eggplant:              #6a52a3;
$plum:                  #5E3585;
$honey:                 #da8719;
$concrete:              #565759;
$aluminium:             #797b7f;
$smoke:                 #f3f3f3;
$ocean:                 #1680A5;
$asphalt:               #3d3d3f;
$dust:                  #d3d3d3;

$white:                 #ffffff;
$teal-green:            #008480; // WP Content Link Colors

$social-icon-color:     #A0A3AA;

$body-font-color:       $aluminium;

//$rooster_mobile_nav_bground: $concrete;

// Breakpoints
$xxs-small-screen: em(320px);
$xs-small-screen: em(767px);
$small-screen: em(768px);
$medium-screen: em(1024px);
$large-screen: em(1280px);
$xlarge-screen: em(1440px);

//Row Colors
$row-color-even:#f5f5f5;

//Page Max-widths
$outer-max-width: 100%;
$inner-max-width-xxxl: 120.000em; /// = 1920px
$inner-max-width-xxl: 87.500em; /// = 1400px
$inner-max-width-xl: 80.000em; //78.000em; //80.000em = 1280px
$inner-max-width-lrg: 64.000em; //56.250em; //64.00em = 1024px
$inner-max-width-med: 61.250em; //56.250em; //61.250em = 980px
$inner-max-width-sm: 25.000em;  //25.000em = 400px
$inner-max-width-xs: 100%; 

//Section Bottom Padding
$global-section-padding: rem(50px); 

// Typography
$base-font-family: "Nunito", Helvetica Neue, Helvetica, Arial, sans-serif; //$font-stack-system;
$heading-font-family: "Roboto Slab", Arial, serif; //$base-font-family;
$button-font-family: $base-font-family;
$icon-font-family: "FontAwesome";

// Font Sizes
$base-font-size: em(16px);
$section-h1-title: 2.500em;

// Line height
$base-line-height: 2;
$heading-line-height: 1.2;

//** By default, this inherits from the `<body>`.
$headings-font-family:    $heading-font-family;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          inherit;


// Other Sizes
$base-border-radius: 40px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $eggplant;
$action-color: $eggplant;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$form-placeholder-font-color: #363738;
$form-user-text-color: $concrete;

// Animations
$base-duration: 150ms;
$base-timing: ease;

//Buttons
$global-dark-hover-color: 25%;
$global-lite-hover-color: 10%;
$global-button-border-color: #A0A3AA;
$global-button-bground-color: $white;
$global-button-font-color: #363738;
